.box{
    background-color:#07294d;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end ;
  
    
}

body{
    margin: 0%;
}

.student-login{
    background-color:#157347;
    width: 120px;
    height: 25px;
    color: white;
   display: flex;
   justify-content: center;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   border-radius: 10px;
   margin-top: 20px;
   margin-right: 130px;
   padding-left: 5px;
   

}

.about-institute{
 
    width: 100%;
    height: 110px;
   
}

.about-institute{
    display: flex;
 

}


.logo{
   
   height: 75px;
padding-left: 150px;
display: flex;
justify-content: center;

}

.admission{

   margin-left: 80px;
   margin-top: 40px;
   display: flex;
   justify-content: space-evenly;
  

   
}




.search{
    margin-left: 30px;
}


.admission > div {
margin-left: 30px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}


.video > video {
    width: 100%;
    margin: 0%;
   

}

.ins-img{
    display: flex;
   justify-content: space-evenly;
   overflow: hidden;
}


.ins-img > img {
    width: 400px;
    height: 100px;
    border-radius: 10px;
    margin-top: 50px;
    animation: slide 10s infinite;
    display: flex;
    justify-content: space-evenly;
   
    
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    20% {
        transform: translateX(-100%);

    }
    40%{
transform: translateX(-200%);
    }

     60%{
transform: translateX(-300%);
    }

     80%{
transform: translateX(-400%);
    }

     100%{
transform: translateX(0);
    }
}
